.main-content {
    margin-left: 250px; /* Adjust based on the width of the sidebar */
    padding-top: 60px; /* Ensure content starts below the header navbar */
}
#main-content {
    flex: 1;
    padding-left: 250px; /* Adjust to match sidebar width */
    transition: padding-left 0.3s ease; /* Main content animation */
}

.section {
    display: none;
    padding: 20px;
    animation: slideIn 0.5s forwards; /* Animation for sliding in */
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px); /* Start position: 50px below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End position: No translation */
    }
}

.section.active {
    display: block;
}