/* CSS styles for settings section */
.settings-section {
    margin-bottom: 30px;
}

.settings-section h3 {
    font-weight: 5px;
    margin-bottom: 20px;
    color: #666; /* Cloudflare's gray color */
}

.setting-tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eee;
    background-color: #ffffff; /* Cloudflare's light gray background */
    padding: 15px;
    border-radius: 8px; /* Light shadow effect */
    margin-bottom: 15px;
}

.setting-details {
    flex-grow: 1;
}

.setting-tile h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333; /* Dark color for setting title */
}

.setting-tile p {
    color: #666; /* Medium dark color for setting description */
    margin-bottom: 10px;
}

.switch-container {
    display: flex;
    align-items: center;
}

/* CSS styles for settings section */
.switch-container {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

input:checked + .slider {
    background-color: #1f9eff; /* Cloudflare's blue color */
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.section-header h2 {
    color: #fdfdfd; /* Dark color for section title */
    margin-bottom: 10px;
}
.section-header p {
    color: #d1d1d1; /* Dark color for section title */
    margin-bottom: 10px;
}