.dialog {
    display: none;
    position: fixed;
    top: 50%;
    z-index: 1000;
    min-height: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
    background-color: rgb(255, 255, 255) !important;
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 20px;
}

.dialog-content {
    /*text-align: center;*/
}

.dialog-content h2{
    font-family: "Manrope";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    left: 25px;
}

.dialog-content.close-button {
    color: #aaa;
    padding: 10px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    height: 45px;
    margin-right: 10px;
    width: 40px;
    height: fit-content;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);;
  }
  
  .dialog-content.close-button:hover,
  .dialog-content.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.drag-drop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ebebeb;
    border-radius: 10px;
    padding: 40px;
    min-height: 240px;
    margin-bottom: 20px;
}

.dragover {
    border-color: #e3e6f7;
}

.file-input-label {
    cursor: pointer;
    color: #2d2d2d;
    font-weight: bold;
}

.file-input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 13px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 20%;
}

.preview-image {
    max-width: 200px;
    max-height: 200px;
    display: none;
}

.button-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: 20px;
    display: flex;
}

.picture-dialog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 13px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 20%;
}

.picture-dialog-buttonn:hover {
    background-color: #425efc;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

