.custom-btn {
    background-color: #6c63ff;
    border-color: #6c63ff;
    color: #fff;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: #5753d6;
    border-color: #5753d6;
}
.subscription .card {
    display: flex;
    flex-direction: column;
}

.subscription{
    padding-bottom: 100px;
    padding-top: 40px;
    background-color: #fff;
    margin: 0 auto; /* Zentrierung des Inhalts */
}

.subscription .card-body {
    flex: 1;
}

.subscription .btn{
    background: linear-gradient(195deg, #252587, #284c9f); 
    color:#fff;
}

.subscription .btn-sec{
    background: linear-gradient(195deg, #eeeeef, #ffffff); 
    color:#232222;
}

.subscription .btn-sec-premium{
    color:#232222;
    background: linear-gradient(195deg, #ffffe2, #ffffff); 
    border-color: #a28a29;
}

.basic-card {
    background-color: #ffffff; /* Light gray background */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);  /* Shadow around the card */
    
    position: relative;
}

.badge {
    position: absolute; /* Absolute positioning for badge */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background: linear-gradient(195deg, #252587, #284c9f); 
    color: #fff; /* Badge text color */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 12px; /* Font size */
    animation: pulse 1s infinite alternate; /* Animation */
}


.badge-premium {
    background-color: #ffffff; /* Light gray background dow around the card */
    font-weight: bold;
    position: relative;
    position: absolute; /* Absolute positioning for badge */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background: linear-gradient(195deg, #293fa2, #0ab6e6); 
    color: #fff; /* Badge text color */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 12px; /* Font size */
    animation: pulse 1s infinite alternate; /* Animation */
}

.card-header p{
    color:#afafaf;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.section-divider {
    border: none;
    height: 1px;
    background-color: #6a6a6a; /* Choose your preferred color */
    margin: 0 auto 1rem; /* Adjust margin as needed */
    width: 50%; /* Adjust width as needed */
}

.section-title {
    background-color: #f8f9fa; /* Background color of the text */
    padding: 0 10px; /* Add padding for better appearance */
    display: inline-block;
    font-weight: bold;
}
