.hero-section {
    color: #fff; /* Textfarbe in der Hero-Sektion */
    padding: 100px 0; /* Innenabstand der Hero-Sektion */
    text-align: left; /* Textausrichtung links */
    position: relative;
    background-size: 320%;
    background-position: 60; /* Relative Positionierung für die SVG-Animation */
    background: linear-gradient(195deg, #030321, #1d2d52); /* Gradient Hintergrund */
    animation: gradientMovement 10s ease infinite alternate; /* Bewegung des Gradients */
    height: 75vh;
    justify-content: center; /* Added for horizontal centering */
      align-items: center; 
      display: flex; 
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chart-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Stretch image to fill container */
  filter: blur(70px); /* Add blur effect */
  opacity: 0.1; 
  animation: gradientMovement  10s ease infinite alternate;/* Reduce opacity for a faded look */
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(195deg, #030321, #1d2d52);
}
@keyframes gradientMovement {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.hero-content {
    max-width: 800px; /* Maximale Breite des Inhalts */
    margin: 0 auto; /* Zentrierung des Inhalts */
}

.hero-content h1 {
    animation: fadeInUp 1s ease forwards;
    font-size: 3em; /* Größere Schriftgröße für die Überschrift */
    margin-bottom: 20px; /* Abstand unter der Überschrift */
}

.hero-content p {
    animation: fadeInUp 1s ease forwards;
    font-size: 1.2em; /* Größere Schriftgröße für den Text */
    margin-bottom: 40px; /* Abstand unter dem Text */
}

.swapix-text {
  color: #ffffff; /* Pink color for SwapiX text */
  animation: swapColor 5s ease-in-out infinite alternate; /* Animate color change */
}
@keyframes swapColor {
  0% {
    color: #00C8FF; /* Blue to pink */
  }
  50% {
    color: #2d42ad; /* Pink */
  }
  100% {
    color: #a4d9e8; /* Pink to blue */
  }
}


.logo-svg {
    position: absolute; /* Absolute Positionierung für die SVG */
    top: 50%; /* Vertikale Zentrierung */
    right: 0; /* Rechts ausrichten */
    animation: moveArrows 2s infinite alternate; /* Animation für die Pfeile */
    transform: translateY(-50%); /* Zentrieren */
}

.svg-animation path {
    /*animation: moveArrows 1s ease infinite alternate; /* Crazy Animation für die Pfeile */
    transform-origin: center;
}

.btn-joinNOW {
  background-color: #fff; /* White button background */
  color: #000; /* Black text color */
  border-color: #fff; /* White button border */
  padding: 10px 20px; /* Button padding */
  border-radius: 5px; /* Rounded corners */
  transition: all 0.3s ; 
  font-weight: bold; /* Bold font weight */
}

.btn-joinNOW:hover {
  background: linear-gradient(195deg, #252587, #284c9f); /* Pink on hover */
  border-color: #425efc; /* Pink border on hover */
  color: #fff; /* White text on hover */
}

.btn-explore { /* White button background */
  color: #ffffff; /* Black text color */
  border-color: #fff; /* White button border */
  padding: 10px 20px; /* Button padding */
  border-radius: 5px; 
  margin-left: 10px;/* Rounded corners */
  transition: all 0.5s ease-in-out; 
  font-weight: bold; /* Bold font weight */
}

.btn-explore:hover {
  border-color: #425efc; /* Pink border on hover */
  color: #e0e0f2; /* White text on hover */
}
