.accent-color {
    color: #3533cd; /* Akzentfarbe */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-weight: bold;
    color: #000; /* Schwarze Schriftfarbe */
}

.navbar {
    background-color: #fff; /* Weiße Hintergrundfarbe */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten */
    border-radius: 0; /* Keine abgerundeten Ecken */
    border-bottom: 1px solid #eee; /* Unterstrich */
}

.navbar-toggler {
    border-color: transparent; /* Durchsichtiger Toggle-Button-Rahmen */
}

.navbar-toggler-icon {
    background-color: #000; /* Farbe des Navbar-Toggle-Icons */
}

.navbar-nav {
    text-align: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #000; /* Schwarze Schriftfarbe */
    transition: all 0.3s ease; /* Fließende Übergänge */
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6c63ff; /* Akzentfarbe für Unterstrich */
    transform: scaleX(0); /* Anfangszustand: unsichtbar */
    transition: transform 0.3s ease; /* Fließende Übergänge */
}

.nav-link:hover::before {
    transform: scaleX(1); /* Unterstrich erscheint beim Hover */
}

.btn-primary {
    background-color: #6c63ff;
    transition: all 0.3s ease; /* Fließende Übergänge */
    border-color: #6c63ff;
    transition: all 0.3s ease; /* Fließende Übergänge */
}

.btn-primary:hover {
    background-color: #5753d6;
    border-color: #5753d6;
}

/* SVG-Logo im Header */
.svg-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: transform 0.3s ease; /* Fließende Übergänge */
}

.navbar-toggler:hover .svg-logo {
    transform: scale(1.2); /* Vergrößern des Logos beim Hover über den Toggle-Button */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-color: #6c63ff; /* Hintergrundfarbe der Hero-Sektion */
    color: #fff; /* Textfarbe in der Hero-Sektion */
    padding: 100px 0; /* Innenabstand der Hero-Sektion */
    text-align: left; /* Textausrichtung links */
    position: relative; /* Relative Positionierung für die SVG-Animation */
    background: linear-gradient(195deg, #030321, #1d2d52); /* Gradient Hintergrund */
    animation: gradientMovement 10s ease infinite alternate; /* Bewegung des Gradients */
}

@keyframes gradientMovement {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.hero-content {
    max-width: 800px; /* Maximale Breite des Inhalts */
    margin: 0 auto; /* Zentrierung des Inhalts */
}

.hero-content h1 {
    font-size: 3em; /* Größere Schriftgröße für die Überschrift */
    margin-bottom: 20px; /* Abstand unter der Überschrift */
}

.hero-content p {
    font-size: 1.2em; /* Größere Schriftgröße für den Text */
    margin-bottom: 40px; /* Abstand unter dem Text */
}

.logo-svg {
    position: absolute; /* Absolute Positionierung für die SVG */
    top: 50%; /* Vertikale Zentrierung */
    right: 0; /* Rechts ausrichten */
    animation: moveArrows 2s infinite alternate; /* Animation für die Pfeile */
    transform: translateY(-50%); /* Zentrieren */
}

.svg-animation path {
    /*animation: moveArrows 1s ease infinite alternate; /* Crazy Animation für die Pfeile */
    transform-origin: center;
}

.btn-primary {
    background-color: #6c63ff;
    border-color: #6c63ff;
}

.btn-primary:hover {
    background-color: #5753d6;
    border-color: #5753d6;
}

.btn-account {
    background-color: #fff; /* Hintergrundfarbe des Account-Buttons */
    color: #110b8d; /* Textfarbe des Account-Buttons */
    border-color: #6c63ff; /* Randfarbe des Account-Buttons */
    margin-left: 20px;
}

.btn-account:hover {
    background-color: #f8f9fa; /* Hintergrundfarbe des Account-Buttons beim Hover */
    color: #6c63ff; /* Textfarbe des Account-Buttons beim Hover */
    border-color: #6c63ff; /* Randfarbe des Account-Buttons beim Hover */
}

.features {
    padding: 100px 0;
}

.feature-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: all 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.accent-color {
    color: #0a00ca; /* Akzentfarbe */
}